.mainDiv{
    text-align: center;
    display: block;
    width: 20%;
    margin: 8%;
    margin-left: 35%;
    padding: 3%;
    border: 5px solid pink;
    border-radius: 10px;
    margin-bottom: 6%;
    }
.title{
    text-align: center;
}